# Env variables

# JAVA
export M2_HOME=
export PATH=$PATH:$M2_HOME/bin
#export PATH=$PATH:$HOME/.jenv/bin
export MAVEN_OPTS="-Xmx2048m -XX:MaxPermSize=512m"
export JAVA_HOME=`/usr/libexec/java_home`
export CATALINA_BASE=

export DOCKER_CERTS=
export GIT_SSH_COMMAND='ssh -o KexAlgorithms=+diffie-hellman-group1-sha1'
export DOCKER_OPTS="-H=0.0.0.0:2376 --tlsverify --tlscacert=$DOCKER_CERTS/ca.pem --tlscert=$DOCKER_CERTS/server.pem --tlskey=$DOCKER_CERTS/server-key.pem"

export PATH=$PATH:"$PATH:$HOME/.rvm/bin" # Add RVM to PATH for scripting
export GOPATH=$HOME/dev/go
export PATH=$PATH:/usr/local/go/bin:$GOPATH/bin

# Toolchain
export BUILDAPPSROOT=/build/
export BUILDAPPS=$BUILDAPPSROOT/bin
export GOBUILD_VCAC_SUITE_ROOT=.
